/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
build/api
build/code-browser
build/coverage
build/logs
build/pdepend
build/phpdox
build/testdox
cache.properties
.idea